<section class="h-50 h-custom" style="background-color: #eee">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-12">
                <h5 class="mb-3">
                  <a routerLink="/" class="text-body"
                    ><i class="fas fa-long-arrow-alt-left me-2"></i>Continue
                    shopping</a
                  >
                </h5>
                <hr />

                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">
                      You have {{ products.length }} items in your cart
                    </p>
                  </div>
                  <div>
                    <p class="mb-0"></p>
                  </div>
                </div>
                <div class="card mb-3">
                  <div *ngFor="let product of products" class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            [src]="[product.img]"
                            class="img-fluid rounded-3"
                            alt="Shopping item"
                            style="width: 65px"
                          />
                        </div>
                        <div class="ms-3 px-2">
                          <h5>{{ product.name }}</h5>
                          <p class="small mb-0">Prand new!</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px">
                          <h5 class="fw-normal mb-0">
                            {{ product.quantity }}
                          </h5>
                        </div>
                        <div style="width: 80px">
                          <h5 class="mb-0">{{ product.price | currency }}</h5>
                        </div>
                        <button
                          (click)="handleRemoveItem(product)"
                          class="btn btn-danger btn-sm ms-1"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="products?.length === 0"
                    class="cart-body text-center p-3"
                  >
                    <p class="display-3">
                      <i
                        class="fa fa-cart-plus text-secondary"
                        aria-hidden="true"
                      ></i>
                    </p>
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4>
                    <a
                      routerLink="/"
                      class="btn btn-primary cart-btn-transform m-3"
                      data-abc="true"
                      >continue shopping</a
                    >
                  </div>
                </div>
                <div
                  *ngIf="products?.length !== 0"
                  class="d-flex justify-content-between mt-4"
                >
                  <button
                    routerLink="/checkout"
                    [ngClass]="{ disabled: !totalPrice }"
                    class="btn btn-primary"
                  >
                    Checkout
                  </button>
                  <h4 class="px-5" style="text-align: right">
                    total {{ totalPrice | currency }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
